<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.cnr.isti.steplogger">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true"

        >
        <activity
            android:name="it.cnr.isti.steplogger.StepLoggerActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="it.cnr.isti.steplogger.SettingsActivity"
            android:label="@string/pref_title" >
        </activity>

        <service
            android:name="it.cnr.isti.steplogger.StepLoggerService"
            android:exported="true"
            android:enabled="true"
            android:process=":remote">

            <intent-filter>
                <action android:name=".IStepLoggerService.aidl" />
            </intent-filter>
        </service>
    </application>

</manifest>
